################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/App/obj/Debug
/App/App.iOS/obj/iPhone/Debug
/packages
/packages
/App/App/bin/Debug
/App/App.Android/bin/Debug
/App/App.Android/obj/Debug
